body {
  font-family: sans-serif;
  margin: 5%;
}

.company {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  .company-item {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

img {
  width: 450px;
  height: 380px;
  margin: 50px;
}
